# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.lock
flutter_*.png
*.log

# IDEs and tools
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Misc
.DS_Store
.atom/
.history
.svn/
*.swp
*.pyc
*.class

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
android/local.properties
android/app/upload-keystore.jks
android/app/keystore.txt


# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Ignorar archivo de versión local
version.txt

